body {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.subcontent {
    text-align: center;
    vertical-align: center;
    width: 100%; 
    position: "relative"
}
